/* || General setup */
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    background-color: black;
    /*background: linear-gradient(red, white);*/
}
body {
    width: 70%;
    margin: 0 auto;
}


